[submodule "dependencies/rtmidi"]
    path = dependencies/rtmidi
    url = https://github.com/thestk/rtmidi.git
    ignore = untracked
[submodule "dependencies/trng"]
    path = dependencies/trng
    url = https://github.com/rabauke/trng4.git
	ignore = untracked
[submodule "dependencies/zupply"]
    path = dependencies/zupply
    url = https://github.com/zhreshold/zupply.git
    ignore = untracked
[submodule "wiki"]
    path = wiki
    url = https://github.com/RandyParedis/autoplay.wiki.git
